<div class="container-fuild">
 <div class="row">
   <div class="col-sm-12">
     <h1>Shopping Cart:</h1>
   </div>



   <div class="col-sm-12">
     <ul>
       <% @carted_products.each do |carted_product| %>
       <li>Product Name:  <%= carted_product.product.name %></li>
       <span>Quantity:  <%= carted_product.quantity %></span>
       <% end %>
     </ul>
   </div>



   <div class="col-sm-12">
     <%= form_tag '/orders', method: :post do %>
       <div>
         <%= submit_tag "Buy Now" %>
       </div>
     <% end %>
   </div>


 </div>
</div>