<div class = "container">
  
<h1>Camel</h1>
<p><img src="<%= @camel.image %>"></img></p>
  <h3><%= @camel.name %>: <%= @camel.price%></h3>
  <p><%= @camel.description %></p>
  <button class ="btn btn-success">add to cart</button>
</div>