<div class = "container">
  <div class = "card">
    <div class="card-block">
      <h1>Fox</h1>
      <p><img src="<%= @fox.image %>"></img></p>
      <h3><%= @fox.name %>: <%= @fox.price%></h3>
      <p><%= @fox.description %></p>
      <button class ="btn btn-success">add to cart</button>
    </div>
  </div>
</div>